<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>
	
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior>
					<webHttp />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior>
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="webHttpBinding" scheme="http" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
			<serviceActivations>
				<add factory="AspNetDependencyInjection.Wcf.AndiWebServiceHostFactory" service="SampleWcfProject.Service1" relativeAddress="Service1.svc" />
				<!--
				Alternatively, you can retain `Service1.svc`, just specify `AndiWebServiceHostFactory`, e.g.:
				
				```
				<%@ ServiceHost Language="C#" Service="SampleWcfProject.Wcf.Service1" Factory="AspNetDependencyInjection.Wcf.AndiWebServiceHostFactory"  %>
				```
				
				-->
			</serviceActivations>
		</serviceHostingEnvironment>
		<bindings>
			<webHttpBinding>
				<binding />
			</webHttpBinding>
		</bindings>
	</system.serviceModel>
	
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
