<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.4.0" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Unity" version="4.0.1" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net472" />
</packages>