<?xml version="1.0"?>
<configuration>
	
	<configSections>
		<section name="Unity.WebForms" type="Unity.WebForms.Configuration.UnityWebFormsConfigurationSection, Unity.WebForms" allowLocation="false" allowDefinition="Everywhere"/>
	</configSections>
	
	<connectionStrings />
	
	<Unity.WebForms>
		<ignoreNamspaces>
			<namespace prefix="ExcludedNamespace"/>
		</ignoreNamspaces>
	</Unity.WebForms>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.7.2"/>
		<authentication mode="None" />
		<membership >
			<providers>
				<clear/>
			</providers>
		</membership>
		<profile enabled="false">
			<providers>
				<clear/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
			</providers>
		</roleManager>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
	
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	
	<runtime>
	</runtime>
	
</configuration>